

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* general */

body {
    font-family: 'Roboto';
    font-size: 20px; 
    line-height: 29px;
}
img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    font-family: 'Cormorant Garamond';

}

a {
    text-decoration: none; 
    color: #FCFCFC;
    text-transform: uppercase; 
    font-size: 25px;
    font-weight: 600;
}

section {
    padding: 50px; 
}

/* wrapper styles */

header .wrapper {
	max-width: 2000px;
	width: 85%; 
	margin: 0 auto;
    display: flex;
    flex-direction: column;


}


/* header styles */

header {
    background: url(./animal-land-assets/image-1.jpg);
	background-size: cover;
    min-height: 100vh;
	background-repeat: no-repeat;
    margin: 0 auto;
    padding-top: 10px;
    max-width: 100%;

}

h1, 
h2 {
    font-family: 'Fredericka the Great';
    font-weight: 400;
}

h1 { 
    color: #FCFCFC;
    font-size: 9rem;
    line-height: 140px;
    text-transform: uppercase;
    display: block;
    text-align: right; 
    
}

span {
    display: block;
}

.topNav {
    width: 30%;
    display: flex;
    justify-content: space-between;

}


/* about suzie section */

.suzie {
    background: #152D20;
    display: flex;

}
.bothContainers {
    display: flex;
    max-width: 1080px;
    width: 75%; 
	margin: 0 auto;
    color: #FCFCFC;
    height: 520px;
    
}


.textContainer h2 {
    font-size: 3rem; 
    text-transform: uppercase;
    margin-bottom: 0px;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
    margin-top: 34px;
    margin-right: 50px;
}

.textContainer {
    margin-left: 40px;

}

.textContainer button {
    background: #FCFCFC;
    color: #152D20;
    border: none;
    font-family: 'CormorantGaramond';
    padding: 15px 25px;
    text-transform: uppercase;
    line-height: 29px;
}

/* some of our friends gallery */

.gallery {
    background: #c3d3cb;
    text-transform: uppercase;
    text-align: center;
    color: #152D20;
    padding-top: 60px;
    padding-bottom: 80px; 

}

.gallery ul {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.gallery li {
    flex-basis: 32%;
    margin-bottom: 20px;
  }

.gallery h2 {
    padding-bottom: 40px;
    font-size: 3.5rem;
    line-height: 70px;

}

.friends {
    width: 90%; 
	margin: 0 auto;
}

/* animal spotlight styles */

.iconSet {
    background: #152D20;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Cormorant Garamond';
}

.iconSet a {
    font-size: 2rem;
    line-height: 40px;
    text-align: center;
    width: 150px

}

.animalSpotlight {
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: column;
    align-items: center;

}
.animalSpotlight :first-child {
    width: 100px;
    margin-bottom: 10px;

}

.events {
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: column;
    flex-basis: 2%;
    align-items: center;
    margin-top: 30px;

}
.events :first-child {
    width: 100px;
    margin-bottom: 10px;

}

.merch {
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: column;
    flex-basis: 2%;
    align-items: center;
    margin-top: 30px;
}

.merch :first-child {
    width: 100px;
    margin-bottom: 10px;

}

/* general grid styles */

.grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;

}

.grid button {
    background: #152D20;
    color: #fcfcfc;
    border: none;
    font-family: 'CormorantGaramond';
    padding: 15px 25px;
    text-transform: uppercase;
    line-height: 29px;
    
}

/* zebras styles */

.zebras {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    color: #152D20
}
.zebras > div {
    flex: 50%;

}

.zebrasText {
    justify-content: center;
    align-self: center;
    flex-direction: column;

}

.zebrasText h2 {
    text-transform: uppercase;
    font-size: 35px;
    line-height: 42px;
}

.zebraImage img {
    height: 100%;
} 

/* animalBond styles */

.animalBond {
    display: flex;
    flex-wrap: wrap; 
    padding: 0;
    margin: 0 auto;
    color: #152D20;
    max-width: 2000px;
    margin-bottom: 0;

}

.animalBond > div {
    flex: 50%;
}

.animalBondText {
    margin-top: 120px;
    
}

.animalBondText h2 {
    text-transform: uppercase;
    font-size: 35px;
    text-align: left;
    line-height: 43px;

}

.animalBond img {
    height: 100%;
}

/* bottom section styles */


.bottomBar {
    background: #152D20;
    color: #FCFCFC;
    display: flex;
    justify-content: space-evenly;
    padding: 120px;
}


.bottomBar h3 {
    text-transform: uppercase;
    font-family: 'CormorantGaramond';
    margin-bottom: 2px;
    font-size: 1.5rem;

}

.newsletter {
    text-align: center;
    margin-left: 200px;
}

form button { 
    background: #000000;
    color: #fcfcfc;
    border: none;
    font-family: 'CormorantGaramond';
    padding: 10.5px 30px;
    text-transform: uppercase;
    line-height: 29px;
    margin-left: 0px;
    font-size: 1.25rem;
}

form input {
    padding: 11px 120px 11px 30px;
    margin-right: 0;

}

::placeholder {
    text-align: left;
}


.contactInfo {
    width: 20%;
}
/* footer styles */

footer {
    background: #000;
    color: #fcfcfc;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

footer a {
    font-size: 10px;
}

/* media queries */

@media (max-width: 768px) {
    header {
        height: 80vh;
        background-position-x: 30%;
    }
    header h1 {
        font-size: 30px;
        text-align: left; 
        line-height: 29px;
    }
    .topNav {
        display: none;
    }

    /* suzie section mq */
    .bothContainers {
        flex-wrap: wrap;
        height: 100vh;
        max-width: 768px;
    }

    .textContainer {
        font-size: 18px;
        margin-left: 0px;
        line-height: 1.15;
    }

    .textContainer h2 {
        font-size: 30px;
        flex-direction: row;
    }

    .textContainer button {
        margin-left: 35px;
    }

    /* some of our friend mq */


    .friends ul {
        flex-direction: column;
        margin-right: 30px;
    }


    /* animal spotlight section mq */

    .iconSet {
        flex-direction: column;
        justify-content: space-evenly;
    }

    /* zebras sectiom mq */
    .zebras {
        height: 100vh;
    }

    .zebraImage {
        order: -1;
    }

    .zebrasText {
        text-align: center;
    }

    .animalBond {
        flex-direction: column;
    }

  }
